
<h2>Dashboard</h2>

<p><%= link_to 'View all exercises', exercises_path %></p>
<p><%= link_to 'View step counter', steps_path %></p>
<p><%= link_to 'View all meals', meals_path %></p>
<p><%= link_to 'View all weight entries', weights_path %></p>

<% if Weight.count > 0 %>
  <p><strong>Current Weight: </strong><%= @dashboard.current_weight %> lbs.</p>
<% end %>
<% if Meal.count > 0 %>
  <p><strong>Calories consumed on the most recent date: </strong><%= @dashboard.calories_consumed %>.</p>
<% end %>
<% if Exercise.count > 0 %>
  <p><strong>Calories burned for this date: </strong><%= @dashboard.calories_burned %>.</p>
<% end %>

  <p><strong>Net calories for this date: </strong><%= @dashboard.net_calories %>.</p>
