<div class="module">
  <div class="module-head">
    <h2>This is weight <%=@weight.id%>'s page</h2>
  </div>
  <div class="module-body">

  <p id="notice"><%= notice %></p>


  <p>
    <strong>Weight:</strong>
    <%= @weight.weight %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @weight.day ? @weight.day.date : 0 %>
  </p>

  <%= link_to 'Back to list', weights_path %>

</div>
