<%= form_for @meal, :html => {class: 'form-horizontal row-fluid'} do |f| %>
  <% if @meal.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% @meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="control-group">
    <div class="field">
      <%= f.label :date_id, class: 'control-label' %>
      <div class="controls">
        <%= f.select :date_id, @days, class: 'span8'%>
      </div>
    </div>
  </div>

  <div class="control-group">
    <div class="field">
      <%= f.label :calories, class: 'control-label' %>
      <div class="controls">
        <%= f.number_field :calories, class: 'span8' %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <div class="field">
      <%= f.label :description, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, class: 'span8' %>
      </div>
    </div>
  </div>



  <div>
    <div class="actions align-center">
      <%= f.submit class: 'btn-primary' %>
    </div>
  </div>
<% end %>
<br>
