<div class="module">
  <div class="module-head">
    <h2>Meal Details</h2>
  </div>
  <div class="module-body">

<p id="notice"><%= notice %></p>

<p>
  <strong>Calories:</strong>
  <%= @meal.calories %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meal.date_id %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
</div>
