<div class="module">
  <div class="module-head">
    <h2>Exercise Details</h2>
  </div>
  <div class="module-body">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Exercise type:</strong>
    <%= @exercise.exercise_type_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @exercise.day.date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @exercise.duration %>
  </p>

  <%= link_to 'Edit', edit_exercise_path(@exercise) %> |
  <%= link_to 'Back', exercises_path %>
</div>
